@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .containerb{
        @apply w-full max-w-[1280px] px-5 mx-auto
    }
}

#sidebar a.active {
    padding-bottom: 10px;
    border-radius: 2px;
    font-weight: 700;
    color: 
    #C92071;
    border-bottom: 3px solid 
    #C92071; 
  
  }

  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  


  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  